{% extends 'base.html' %}

{% block title %}
    <title>pricing</title>
{% endblock %}
{% block content-class %} single-column {% endblock %}

{% block menu %}

{% endblock %}


{% block content %}
    <div class="container-fluid" id="membership">
        <h1 class="text text-center m-4">Our pricing</h1>
        <div class="d-flex justify-content-center">
            {% for membership in memberships %}
                <form hx-post="{% url 'checkout' %}" class="membership mx-" method="POST" id="checkout_btn">
                    {% csrf_token %}
                    <input type="hidden" name="membership_id" value="{{ membership.stripe_plan_id }}">
                    {{ membership.number_of_words }} Words
                    <br>
                    {{ membership.price }}$
                    <br>
                    {{ membership.membership_type }}
                    <p>
                        <button type="submit" class="btn btn-primary">
                            checkout
                            <span class="htmx-indicator spinner-border spinner-border-sm"
                                  role="status"
                                  aria-hidden="true"></span>
                        </button>
                    </p>
                </form>
            {% endfor %}
        </div>
    </div>
{% endblock %}