{% extends 'base.html' %}

{% block content-class %} single-column {% endblock %}




{% block title %}
    <title>Login</title>
{% endblock %}

{% block menu %}

{% endblock %}




{% block content %}
    <div class="row">
        <div class="card login-card mx-auto">
            <div class="card-body">
                <h5 class="card-title text-center">Login</h5>
                <form action="{% url 'login' %}" method="POST" class="d-flex flex-column">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    <div class="mb-2 input-group">
                        <span class="input-group-text" >
                            <i class="bi bi-person-circle me-1"></i>
                            Email
                        </span>
                        {{ form.email | attr:"class:form-control" }}

                    </div>

                    <div class="mb-2 input-group">
                        <span class="input-group-text ">
                            <i class="bi bi-save-fill me-1">
                            </i>
                           Password
                        </span>
                        {{ form.password | attr:"class:form-control" }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        login
                        <span class="htmx-indicator spinner-border spinner-border-sm"
                              role="status"
                              aria-hidden="true"></span>
                    </button>
                </form>
                {% for message in messages %}
                    <p class="alert alert-danger text-center mt-2" id="messages">
                        {{ message }}
                    </p>
                {% endfor %}
                <p class="mt-1 text-center">
                    Don't have an account ?
                    <a class="text-decoration-none text-success" href="{% url 'signup' %}">Sign up</a>
                </p>
                <p class="mt-1 text-center">
                    Forgot your Password ?
                    <a class="text-decoration-none text-success" href="{% url 'password_reset' %}">Reset your
                        password</a>
                </p>

            </div>

        </div>
    </div>
{% endblock %}

