{% extends 'base.html' %}
{% load widget_tweaks %}




{% block content %}
    <div class="container">
        <form method="POST" class="m-5">
            <div>{{ form.new_password1 | attr:"class:form-control" }}</div>
            <div>{{ form.new_password2 | attr:"class:form-control" }}</div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
        {% for fields in form.fields %}
            {% if fields.errors %}
            <p class="alert alert-danger">
                {{ fields.errors }}
            </p>
            {% endif %}

        {% endfor %}
    </div>
{% endblock %}