{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content-class %} single-column {% endblock %}

{% block title %}
    <title>Signup</title>
{% endblock %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="card col-md-4 signup-form" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Inscription</h5>
                <form action="" method="POST">
                    {% csrf_token %}

                    <div class="mb-2 input-group">
                        <span class="input-group-text " style="width: 8rem">
                            <i class="bi bi-envelope-check-fill me-1"></i>
                           Email
                        </span>
                        {{ form.email | attr:"class:form-control" | attr:"placeholder: elon@musk.com" }}
                    </div>

                    <div class="mb-2 input-group">
                        <span class="input-group-text " style="width: 8rem">
                            <span class="me-1"><i class="fa-solid fa-lock"></i></span>
                            Password
                        </span>
                        {{ form.password1 | attr:"class:form-control" | attr:"placeholder: Password" }}
                    </div>

                    <div class="mb-2 input-group">
                        <span class="input-group-text " style="width: 8rem">
                            <span class="me-1"><i class="fa-solid fa-lock-open"></i></span>
                            Confirm
                        </span>
                        {{ form.password2 | attr:"class:form-control" | attr:"placeholder: Confirm your Password" }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Signup
                        <span class="htmx-indicator spinner-border spinner-border-sm"
                              role="status"
                              aria-hidden="true"></span>
                    </button>
                </form>
                {% for message in messages %}
                    <p class="alert alert-danger text-center mt-3" id="signuperrors">{{ message }}</p>
                {% endfor %}
            </div>
            already registered ?
            <a class="text-decoration-none" href="{% url 'login' %}">
                Login.
            </a>

        </div>
    </div>

{% endblock %}

