<!doctype html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title></title>
</head>
<body hx-boost="true" hx-headers="{'X-CSRFToken':'{{ csrf_token }}'}">

<header>
    {% block nav %}
    {% endblock %}
</header>

<main>
    {% block content %}
        {% block menu %}
            {% include 'menu.html' %}
        {% endblock %}
    {% endblock %}
</main>

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });

</script>

</body>
</html>