<nav>
    <ul>
        <li class="nav-logo"><a href="{% url 'home' %}">Print.<span>ai</span></a></li>
        <li class="nav-links"><a href="#" id="user_words_count"> Total Words : {{ request.user.number_of_words }}</a>
        </li>
        <li class="nav-links"><a href="{% url 'pricing' %}">Pricing</a></li>
        <li class="nav-links"><a href="{% url 'update-profile' %}">Profile</a></li>
        {% if request.user.usermembership is not None %}
                <li class="nav-links">
                    <a href="{% url 'customer_portal' %}">Billing Infos</a>
                </li>
        {% endif %}
        <li class="nav-links"><a href="{% url 'logout' %}">Logout</a></li>
        <li class="menu-bars"><i class="uil uil-bars"></i></li>

    </ul>
</nav>
